*{
    margin: 0%;
    padding: 0%;
}
.sidebar {
    position: absolute;
    height: 100vh;
    width: 22vw;
    left: 0;
    /* background-color: #E7E8D1; */
    /* background-color: #EAE7DC; */
    /* background-color: #EDF4F2; */
    background-color: white;
    transition: left 0.5s;
    box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.300);
}
.hide{
    left: -22vw;
}
.slide {
    padding: 2px 8px;
    position: absolute;
    left: 18vw;
    top: 2.3vh;
    font-size: 20px;
    border-radius: 5px;
    transition: all 0.5s;
}
.slide:hover{
    background-color: white;
}
.moveSlide{
    left: 23vw;
    z-index: 1;
}
.user-detail{
    margin-top: 3px;
    border-radius: 5px;
    /* background-color: #bcd4cd; */
    background-color: rgba(0, 0, 0, 0.100);
}
.project{
    display: flex;
    align-items: center;
}
.addProject{
    background-color: transparent;
    font-size: 20px;
    font-weight: 700;
    padding: 0px 6px;   
    border-radius: 15%;
}
.addProject:hover{
    background-color:rgba(0, 0, 0, 0.100);  
    transition: all 0.6s ease; 
}
.taskDetail{
    border: none;
    background-color: transparent;
}
.x{
    margin-bottom: 0;
    vertical-align: baseline;
}
.projectNames{
    margin: 0;
    padding:0px 5px;
    border-radius: 7px;
    transition: all 0.3S ease-out;
}
.projectNames:hover{
    /* padding:3px 5px; */
    /* background-color: #d1c7ba; */
    /* background-color: #deede9; */
    background-color: rgba(0, 0, 0, 0.100);
}
#Home{
    padding: 8px 10px;
    /* background-color: rgba(0, 0, 0, 0.100); */
    border-radius: 7px;
    transition: all 0.3S ease-out;
}
#Home:hover{
    background-color: rgba(0, 0, 0, 0.100);
}
.projectNameHover{
    padding-left: 10px;
    /* background-color: #d1c7ba; */
    background-color: rgba(0, 0, 0, 0.100);   
}
p{
    margin: 0;
}
.removeProject{
    border: none;
    background-color: transparent;
}

@media only screen and (max-width:750px){
    .user-detail{
        font-size: 10px;
    }
    .useName{
        font-size: 15px;
    }
    .sidebar {
        /* width: 35vw; */
        width: 260px;
        left: 0;
        z-index: 3;
    }
    .hide{
        left: -260px;
    }
    .slide {
        padding: 2px 8px;
        left: 215px;
        top: 18px;
        font-size: 16px;
        padding: 0px 5px;
    }
    .moveSlide{
        left: 275px;
        top: 18px;
    }
}

@media only screen and (min-width:750px){
    .sidebar {
        width: 220px;
        /* width: 22vw; */
        left: 0;    
    }
    .hide{
        left: -250px;
    }
    .slide {
        left: 175px;
        top: 17px;
        font-size: 18px;
        padding: 0px 5px;
    }
    .moveSlide{
        left: 267px;
        top: 17px;
    }
}
@media only screen and (min-width:1000px){
    .sidebar {
        height: 100vh;
        width: 22vw;
        left: 0;    
    }
    .hide{
        left: -25vw;
        /* transition: left 0.5s; */
    }
    .slide {
        padding: 2px 8px;
        left: 18vw;
        top: 15px;
        font-size: 20px;
        padding: 0px 5px;
    }
    .moveSlide{
        left: 26.5vw;
    }
    
}